.App {
   text-align: center;
}

.google-button {
   margin: auto;
   margin-top: 200px;
}

.login-button {
   padding: 10px;
   background-color: rgb(77, 184, 184);
   color: black;
   text-decoration: none;
   margin: auto;
   margin-top: 100px;
}
.logout-button {
   padding: 10px;
   background-color: rgb(77, 184, 184);
   color: black;
   text-decoration: none;
   margin: auto;
   margin-top: 100px;
   width: 100px;
   cursor: pointer;
}
nav {
   display: flex;
   flex-direction: row;
}
